<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tetris</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="stylesheets/cover.css" rel="stylesheet">

    <style>
        .navbar{
            margin-bottom:0;
            border-radius:0;
        }
    </style>

</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
            <div class="inner">
                <h3 class="masthead-brand">BBKIM Tetris</h3>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/PlayGame">Play Game</a>
                    <a class="nav-link" href="/ranking">Ranking</a>
                    <a class="nav-link" href="channel">Channel</a>
                    <a class="nav-link active" href="#">Login / Register</a>
                </nav>
            </div>
        </header>


        <main role="main" class="inner-cover">
            <form class="form-register">
                <h1 class="h3 mb-3 font-weight-normal">Please Register</h1>
                <label for="inputID" class="sr-only">UserID</label>
                <input type="userID" id="inputID" class="form-control" placeholder="UserID" required="">

                <lable for="inputEmail" class="sr-only">Email address</lable>
                <input type="email" id="inputEmail" class="form-control" placeholder="email address" required="" autofocus="">

                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

                <button class="btn btn-md btn-primary btn-block" type="submit">Submit</button>
            </form>
        </main>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <p>You can contact <a href="http://bbkim92.com">me </a>at <a href="bbkimdev@gmail.com">bbkimdev@gmail.com</a></p>
            </div>
        </footer>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="javascript/bootstrap.min.js"</script>
  </body>
</html>
